.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.option__button {
    /* display: block; */
    width: 80px;
    padding: 8px;
    /* background-color: rgb(35, 107, 85); */
    background-color: #fff;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    /* color: #fff; */
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 300ms cubic-bezier(0.19, 1, 0.22, 1); */
}